site_name: 笔记
theme:
    name: material
    locale: zh
    features:
        # - navigation.instant
        - navigation.tracking
        - navigation.tabs
        - navigation.expand
        - navigation.sections
        - navigation.indexes
        - toc.follow
        - navigation.top
        - search.suggest
        - search.highlight
    icon:
      admonition:
        note: fontawesome/solid/note-sticky
        abstract: fontawesome/solid/book
        info: fontawesome/solid/circle-info
        tip: fontawesome/solid/bullhorn
        success: fontawesome/solid/check
        question: fontawesome/solid/circle-question
        warning: fontawesome/solid/triangle-exclamation
        failure: fontawesome/solid/bomb
        danger: fontawesome/solid/skull
        bug: fontawesome/solid/robot
        example: fontawesome/solid/flask
        quote: fontawesome/solid/quote-left

    palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: 黑暗模式

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: 日光模式

plugins:
  - search:
        separator: '[\s\u200b\-]'
      #   jieba_dict: dict.txt
        lang: en
  - tags
  - glightbox:
        touchNavigation: true
        loop: false
        effect: zoom
        width: 100%
        height: auto
        zoomable: true
        draggable: true

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - admonition
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
    - 主页: 'index.md'
    - 使用文档: '使用文档.md'
    - 阅读: 
        - '阅读/index.md'
        - 陪孩子走过学前六年: '阅读/陪孩子走过学前六年.md'
        - 1-2: '阅读/1-2.md'
    - 图片:
        - 认真: 图片/认真.md
    # - 哲学
    # - 探究
    - 思考:
        - 思考: 思考/0100.md
        - 故事: 思考/0101.md
    - 关于: 关于.md
